/* * {
  border: solid red;
} */


body {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
  height: 900px;
}

h1 {
  font-size: 72px;
}

.main-container {
  width: 70%;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
  height: 100%;
}

.saved-palettes {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  width: 30%;
}

.palette-container {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
  width: 700px;
}

.color-box {
  width: 100px;
  height: 100px;
  /* background-color: black; */
}

.mini-color-box {
  width: 18px;
  height: 18px;
  /* background-color: black; */

}

.mini-color-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.box-info {
  display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.button-section {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
  width: 700px;
}

.unlock-icon, .lock-icon, .trash-can-icon {
  height: 15px;
  width: 15px;
}

.hidden {
	display: none;
  }
